* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  color: #3a3939;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

p,
li,
ul {
  font-size: 1.4rem;
  margin: 0px;
}

title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jacques Francois Shadow", serif;
  color: #91ba9a;
  margin: 0px;
}

.tm-footer-text {
  text-align: center;
}

.tm-container {
  background-color: white;
  padding: 0px;
}

.tm-header {
  padding: 10px;
  text-align: right;
  overflow: hidden;
}

.tm-logo {
  width: 20vw;
  display: inline;
}

.tm-title {
  font-size: 10vw;
  line-height: 10vw;
  font-family: "Jacques Francois Shadow", serif;
  color: #91ba9a;
  display: inline;
  text-align: left;
}
.tm-heading {
  color: #0095bf;
  font-size: 2rem;
}

.tm-subtitle {
  color: #0095bf;
  font-size: 4.8vw;
  line-height: 5vw;
  margin-bottom: 2px;
  text-align: left;
}
.tm-social-media {
  padding-top: 25vh;
  text-align: right;
}

.tm-social-media {
  text-align: center;
}

.tm-social-media img {
  height: 80px;
  padding: 0px 20px;
}

.tm-section-1 {
  height: 40vh;
  background-image: url(../img/spot-bg-01.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 84%, 0px 100%);
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 90%);
  background-position: center top;
  background-repeat: no-repeat;
}

.tm-section-3 {
  height: 790px;
  background-image: url(../img/spot-bg-02.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0px 0px, 100% 14%, 100% 86%, 0px 100%);
  clip-path: polygon(0px 0px, 100% 14%, 100% 86%, 0px 100%);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.tm-reg-logo {
  width: 90%;
}

.tm-color-primary {
  color: #cc0064;
}

.tm-color-secondary {
  color: #0095bf;
}

.tm-btn-primary {
  color: white;
  background-color: #cc0064;
}

.tm-btn-primary:hover,
.tm-btn-primary:focus {
  background-color: #f21b85;
}

.tm-btn-secondary {
  color: white;
  background-color: #0095bf;
}

.tm-btn-secondary:hover,
.tm-btn-secondary:focus {
  background-color: #44cbf1;
}

.tm-text-box {
  background-color: white;
  padding: 10px;
  border-radius: 30px;
}

li {
  padding: 5px;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  margin-right: 5px;
  text-indent: -5px;
}

.btn {
  padding: 10px 30px;
  font-size: 1.15rem;
  font-weight: 300;
  border-radius: 8px;
}

a.btn:hover {
  color: white;
  text-decoration: none;
}

.tm-flex-center-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tm-rounded-img {
  width: 97%;
  margin: 5px;
  border-radius: 30px;
}

.tm-contact-form {
  max-width: 280px;
}

.form-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #cc0064;
}

.form-control:focus {
  box-shadow: none;
  border-color: #cc0064;
  border-width: 2px;
}

.tm-send-btn {
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.tm-footer-link {
  color: #6c6c6c;
}

.tm-footer-link:hover,
.tm-footer-link:focus {
  color: #cc0064;
  text-decoration: none;
}

@media (min-width: 576px) {
  .container {
    max-width: none;
  }
}
@media (min-width: 768px) {
  .container {
    /* max-width: 90%; */
  }

  .tm-social-media {
    padding-top: 400px;
  }

  .tm-social-media img {
    padding: 0 90px;
  }

  .tm-section-1 {
    height: 600px;
  }
}

@media (min-width: 992px) {
  .container {
    /* max-width: 960px; */
  }

  .tm-title {
    font-size: 5rem;
    line-height: 5rem;
    font-family: "Jacques Francois Shadow", serif;
    color: #91ba9a;
    display: inline;
    text-align: left;
  }

  .tm-subtitle {
    color: #0095bf;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 5px;
    text-align: left;
  }

  .tm-logo {
    width: 160px;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-fluid {
    max-width: 1080px;
  }
}
/* 
@media (max-width: 992px) {
  .tm-bg-circle-white {
    margin-left: auto;
    margin-right: auto;
  }
  .tm-section-left {
    margin: 50px auto;
  }

  .tm-circle-img-container {
    text-align: center;
  }

  .tm-contact-form {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .tm-contact-right {
    margin-bottom: 50px;
  }

  .tm-footer-text {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 576px) {
  .tm-bg-circle-white {
    border-radius: 100px;
    width: 100%;
    height: auto;
    padding: 50px;
  }

  img {
    max-width: 100%;
  }

  .tm-section-3 {
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-clip-path: polygon(0px 0px, 100% 8%, 100% 92%, 0px 100%);
    clip-path: polygon(0px 0px, 100% 8%, 100% 92%, 0px 100%);
  }

  .tm-circle-img-container {
    margin-bottom: 30px;
  }
} */
